.center-text{
    text-align: center;
}

.Rock {
            flex: 1;
            position: absolute; /* Allows free placement */
            top: 100px;  /* Distance from the top of the container */
            left: 100px; /* Distance from the left of the container */
            width: 150px;
            height: auto;
        }


.Paper {
            position: absolute;
            top: 100px;  
            left: 350px;
            width: 150px;
            height: auto;
}


.Scissors {
            position: absolute;
            top: 100px;  
            left: 600px;
            width: 150px;
            height: auto;
}  

.Human {
    position: absolute; 
    top: 500px;  
    left: 300px;    
    width: 150px;
    height: auto;
}

.Robot {
    position: absolute; 
    top: 500px;  
    left:500px; 
    width: 150px;
    height: auto;
}

body {
background-color: #8f999c;
}